rich
typer
python-dotenv
langchain
langchain-google-genai
langchain-ollama
psutil
fastapi
uvicorn
python-multipart
chromadb
langchain-community
langchain-chroma
sentence-transformers
beautifulsoup4
requests
markdown
